body{
  margin:0;
  background:url("http://ringvemedia.com/server//bg.jpg");
  background-repeat: repeat-y;
  background-size:100%;
}

header{
  background:#767;
  color:white;
  position:fixed;
  width:100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #547a93;
}

li {
    float: left;
}

img{
    float:left;
}
#logo{
	background-color:#453

}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
	visibility: hidden; /* hides sub-menu */
  opacity: 0;
  background-color: #708e9f;
  position: absolute;
  top: 100%;
  left: 0;/* min-width: 160px;*/
  width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  display: block;
  z-index: 1;

  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.row{
  clear:both;
}

.col{
  background:#333;
  border-radius:2px;
  color:white;
  padding:10px .5%;
  float:left;
}
